*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  /* text-shadow: #10225e 1px 1px; */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(assets/Dog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}